.about-us {
	margin: 50px 0;
	text-align: center;
	padding: 15px clamp(15px, 6vw, 160px);
	overflow-x: hidden;

	&__group {
		margin-top: 60px;
		grid-gap: 30px;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
	}
}
