.about-us {
	margin: 50px 0;
	text-align: center;
	padding: 15px clamp(15px, 6vw, 160px);
	overflow-x: hidden;

	&__group {
		margin-top: 60px;
		overflow-x: scroll;
		position: relative;
		display: grid;
		column-gap: 2em;
		grid-template-columns: repeat(6, 1fr);
	}
	&__tile {
		width: min(85vw, 450px);
	}
}
