.our-numbers {
	margin-top: 50px;
	text-align: center;

	&__group {
		flex-wrap: wrap;
		display: flex;
		justify-content: space-around;
		align-items: center;

		background-color: #dedede;
		margin-top: 50px;
	}
	&__number {
		min-width: 300px;
		padding: clamp(20px, 7vh, 80px);
	}
}
